*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    position: relative;
    text-align: center;
    color: white;
}


.header__decoration{
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 300px;
    background: rgb(243,115,48);
    background: linear-gradient(90deg, rgba(243,115,48,1) 0%, rgba(213,134,6,1) 100%);
    opacity: 80%;
}

.header__img{
    object-fit: cover;
    width: 100%;
    height: 860px;
}

.header__logo{
    position: absolute;
    width: 42px;
    height: 42px;
    top: 70px;
    left: 100px;
    z-index: 12;
}

.logo__decoration{
    position: absolute;
    width: 42px;
    height: 42px;
    top: 70px;
    left: 80px;
    background-color: orange;
}
  


/*//////////HEADINGS///////*/

li{
    list-style: none;
    text-decoration: none;
}

.burgos__heading{
    position: absolute;
    top: 90px;
    left: 170px;
    font-size: 15px;
}

.home__heading{
    position: absolute;
    top: 90px;
    right: 400px;
    justify-content: flex-end;
    font-size: 15px;
}

.gallery__logo{
    position: absolute;
    top: 90px;
    right: 300px;
    justify-content: flex-end;
    font-size: 15px;
}

.anbefalede__heading{
    position: absolute;
    top: 90px;
    right: 170px;
    justify-content: flex-end;
    font-size: 15px;
}

.kontakt__heading{
    position: absolute;
    top: 90px;
    right: 60px;
    justify-content: flex-end;
    font-size: 15px;
}