
.valider
{
    
    height: 600px;
}

#KontaktForm01{
    display: flex;
    position: relative;
    align-items: center;
    
    
    height: 40rem;
    width: 30%;
    left: 35%;
    top: 10rem;
  
}

#Formular01
{
    display: flex;
    position: relative;
    align-items: center;
    height: 40rem;
    width: 100%;
    top: 10rem;
  
}



#InputNavn
{
    background-color: rgb(227, 247, 252);
    position: absolute;
    left: 320px;
    top: 2rem;
    width: 300px;
    height: 4rem;
    outline: none;
    padding-left: 2%;
    font-size: 30px;
}


#InputMail
{
    background-color: rgb(227, 247, 252);
    position: absolute;
    left: 670px;
    top: 2rem;
    width: 300px;
    height: 4rem;
    outline: none;
    padding-left: 2%;
    font-size: 30px;
}

#InputBesked
{
    background-color: rgb(227, 247, 252);
    position: absolute;
    left: 320px;
    top: 8rem;
    width: 650px;
    height: 14rem;
    outline: none;
    padding-left: 2%;
    font-size: 30px;
}

#InputSend
{
    background: rgb(243,115,48);
    background: linear-gradient(90deg, rgba(243,115,48,1) 0%, rgba(213,134,6,1) 100%);
    position: absolute;
    left: 62%;
    top: 23rem;
    width: 10%;
    height: 5rem;
    outline: none;
    font-size: 25px;
}

#FejlBesked1
{
    font-size: 20px;
    position: absolute;
    top: 6rem;
    left: 14rem;

}



#FejlBesked3
{
    font-size: 20px;
    position: absolute;
    top: 6rem;
    left: 58rem;
   
}

.valider__heading{
    color: black;
    font-size: 50px;
    position: absolute;
    top: 3160px;
    left: 320px;
}